.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center {
  text-align: center;
  width: 300px;
  position: absolute;
  top: 25%;
  left: 40%;
  margin: 0 0 0 -25px; /* Establece la altura del contenedor al 100% de la altura de la ventana del navegador */
}

.table {
  position: absolute;
  top: 60%;
  left: 5%;/* Establece la altura del contenedor al 100% de la altura de la ventana del navegador */
  width: 90%;
  border-collapse: collapse;
}
